@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --accent: #00ffff;  /* Coral accent */
}

        body {
            margin: 0;
            padding: 0;
        height: 100vh;
            background-color: #121212;
            font-family: 'Open sans', Sans-Serif;
            color: white;
        }
        textarea {
          max-width: 90%;
          width: 100%;
            height: 87%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            resize: none;
            font-family:  'Open sans', Sans-Serif ;
            background-color:#3f3f3f ;
            color: white;
                display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          margin: 6px 5px 0px 5px;
          outline: none;
          transition: 0.2s ease;
        }
        
        textarea:hover{
          border: 2px solid  var(--accent);
        }
        
        .back {
          padding: 8px 14px 8px 14px;
          margin: 7px 10px 4px 6px;
          background-color:#353434 ;
          border-style: none;
          border: 1px solid #646464;
          color: white;
          border-radius: 32px;
          transition: 0.3s ease;
          font-weight: 600;
        }
        
        .back:hover {
          background-color: var(--accent);
          color: #353434;
        }
        
  .wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   
  }
  
@media only screen and (min-width:992px){
  textarea{
    width: 100%;
    max-width: 90%;
    overflow-x: clip;
    
  }
}