

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --bg: #121212;      /* Dark gray background */
  --text: #ffffff;    /* White text */
  --accent: #BBDEFB;  /*accent */
  --srcbar: rgba(187,222,251,0.429);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

html {
  color: var(--text);
height: 100%;
  background: linear-gradient(to top, #121212,#121212,#121212,#121212,var(--srcbar)) no-repeat center center fixed;
 background-size: cover;

}

body {

     backdrop-filter: brightness(0.6); 

}

.search {
 position: sticky;
 top: 0;
 display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease ;
}

   .search.sticky {
            padding: 5px 0; /* Adjust if necessary to keep the padding uniform */
        }

        .search.sticky .search-bar {
            width: 320px; /* New width */
            height: 46px; /* New height */
            border-radius: 16pc; /* New border radius */
        }
        
        
        
 

#city-input, #urlInput {
 font-weight: 400;
  margin: 5px;
  border: none;
  border-radius: 32px;
  padding: 10px;
  outline: none;
  background: #5c626200;
  height: 40px;
 width: 75%;

}


.wrap > button , .link {
  border-radius: 32px;
  border: none;
  padding: 8px;
  transition: 0.2s ease;
  color: var(--accent);
  background: #00000000;
  margin: 5px 5px 5px 15px;
  flex-shrink: 0;
}

.link {
  margin-right: 20px;
}

#timeElement{
  padding: 6px;
  font-size: 50px;
text-align: center;
  transition: 0.2s ease;
  font-weight: 600;

}

#currentDay {
  font-size: 13px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(49,49,49);
  border-radius: 28px;
  color: var(--accent);
  width: 45%;
  height: 160px;
  margin-left: 10px;
}


  .popup {
    display: none;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
  flex-wrap: wrap;
    background-color: rgb(16 20 15);
    padding: 24px;
    color:var(--text);
     justify-content: center;
     align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1001;
    border-radius: 16px;
   max-width: 90%;
   transition: 0.2s ease;
 width: 100%;
  }
  
  .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#newName {
  padding:13px;
  color:var(--text);
  border-radius:36pc;
  margin-top:10px;
  background: #666868c8;
  outline: none;
  border: none;
  width: 100%;
  height: 48px;
  transition: 0.3s ease;
}



#newName:hover {
  border: 1.3px solid var(--accent);
}



.popup > button {
  display: flex;
   padding: 10px;
  border-radius: 32pc;
  border:none;
  margin: 20px 5px 10px 14px ;
     transition: 0.2s ease;
     font-size: 12px
     gap: 3px;
     background-color: #46464600;
     color: var(--accent);
    height: 30px;
    align-items: center;
}




.popup > button:hover, .wrap > button:hover, .link:hover  {
   background-color: var(--accent);
          color: #353434;
          transform: scale(1.04);
}


input {
  color: var(--text);
}



.search-bar {
backdrop-filter: blur(10px);
  color: var(--text);
  padding: 16px;
border: none;
  border-radius: 16pc;
transition: all 0.3s ease;
  width: 320px;
  height: 58px;
  margin-top: 15px;
  margin-bottom: 6px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--srcbar);
  font-size: 14px;
  font-weight: 600;
 
  word-spacing: -1px;
}

::placeholder{
  color: var(--accent);
  transition: all 0.3s ease;
}



.src-button:hover , .search-bar:hover {
border: 1px solid var(--accent); /* Border color on hover */
}

 .link-container{
   display: flex;
   align-items: center;
 
   margin:10px; 
   padding: 0px; 
 height: 44px;
 background: #4a4648;
   border-radius: 45px;
   transition:  0.2s ease;
   width: 44px;
  
 }
 
 .link-container.delete-mode {
    width: 100px; /* Adjust this value as needed */
}
 
 .link-container:hover {
   transform: scale(1.1);
 }


.icons {
  display: flex;
  padding: 5px;
  border: none;
  align-items: center;
  margin: 10px;
flex-wrap: wrap;
 margin-top: 1.5rem;
}
.icons > a, .Delete {
  display: flex;
  align-items: center;
  justify-content: center;
   background: #4a4648;
  border-radius: 45px;
  padding: 10px;
  height: 44px;
  color: var(--accent);
  margin: 10px;
  text-decoration: none;
  transition: 0.2s ease;
   font-size: 24px;
}

.Delete {
  border: none;
}


.icons > a:hover, .link-container > img:hover {
  transform: scale(1.1);
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.checkbox-container input {
  display: none;
}

.checkbox-container .checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: #4a4648;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.checkbox-container .checkmark:after {
  content: '';
  width: 20px;
  height: 20px;
  background: var(--accent);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.checkbox-container input:checked + .checkmark:after {
  opacity: 1;
}



.container {
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    max-width: 100%;
    margin: 10px auto;
    font-size: 14px;
    padding: auto;
  background: #191919;
 
}





a:hover{
  color: var(--accent);
}

h3 {
  font-size: 20px;
   text-align: center;
    border-radius: 16px;
    padding: 10px;
    background: linear-gradient(to right, var(--accent),white , var(--srcbar));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
border-bottom: 1px solid var(--accent);
  margin: 15px 15px 30px 15px;
}


.feed-item-title {
  text-align: left;
  background-color: #505050;
  border-radius: 16px;
  padding: 15px;
  margin: 10px;
  font-weight: 500;
  line-height: 22px;
align-items: center;
  height: 100px;
  display: flex;

}
.feed-item-title > a{
    text-decoration: none;
  color: #e4e4e4; !important
  text-overflow: ellipsis;
}

.feed-title  {
padding: 10px;
margin-bottom: 1.1rem;
}



.greet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 190px ;
  height: 190px;
  padding: 10px;
  margin: 7px;
  margin-top: 35px;
  border-radius: 50%;
            cursor: pointer;
            object-fit: cover
}

.hello {
  font-size: 35px;
  font-weight: 700;
padding: 10px;
margin-top: 2vh;
margin-bottom: 2vh;
}
.hello > button {
   font-size: 35px;
  font-weight: 700;
padding: 4px 10px 4px 10px;
background: linear-gradient(to right, white, var(--accent),var(--srcbar));
border-radius:32pc;
border: none;
color: black;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2vh;
  margin-top: 3vh;
}

.weather > #weather-icon {
  width: 40px;
  height: 40px;
  position: absolute;
}

.weather {
  display: flex;
  margin-top:2vh;
  margin-bottom: 2vh;
  flex-direction: column;
 width: 45%;
 height: 160px;
color: var(--accent);
  border-radius: 28px;
  align-items: left;
  padding: 5px 5px 5px 15px;
  word-spacing: -2px;
 transition: 0.2s ease;
  background-color: rgb(49,49,49);
}

.weather:hover , .time:hover {
box-shadow: 1px 1px 10px white;
border: 1px solid rgb(93,93,93);
}

#temperature {
 font-size: 45px;
 font-weight: 600;
 margin: 10px 0px 0px 5px ;
}

#description {
  font-weight: 400;
  margin-top: 10px;
  padding: 0px 5px 10px;
  font-size: 13px;
  text-transform: capitalize;
}

#city-name {
 text-align: right;
 font-size: 14px;
 margin: 9px 6px 0px 0px;
  padding: 0px 5px 5px;
  font-weight: 400;
}





.settings  .switch {
  position: relative;
 
  display: inline-block;
  width: 54px;
  height: 28px;
right: 10px;

}

.settings .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: black;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: var(--accent);
  
}



input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings > h2 {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  margin: 15px;
  padding: 15px;
}

.settings > .1set {
    margin-top: 15px;
    padding: 10px;
  
}

.wrap , #city-input , #urlInput{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
 flex-direction: row;
}

.settings p {
  margin: 10px;
    padding: 7px;
  
      font-size: 15px;
      font-weight: 500;
      text-align: left;
      word-spacing:1.2px ;
      line-height: 30px;
}

#colorPicker {
  margin-right: 10px;
  padding: 0px;
}
 
.settings {
  margin: 40px 5px;
  background-color: black;
  border-radius: 22px;
  padding: 10px;
}


.settings > .setList  .wrap {
  margin: 5px 5px 26px 5px;
     background: var(--srcbar);
      border-radius: 18px;
}


.delete-button {
    display: none;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4a4648;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
        color: var(--accent);
 font-size: 13px;
    margin: 5px;
    border: none;
    border-radius: 28px;
    
}



.link-container img {
    width: 28px;
    height: 28px;
    padding: 2px;
 background: #4a4648;
 border-radius: 28px;
display: block;
margin: 0;

}
.link-container > a {
  padding: 0px;
  margin: 0px;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
}

.link-container:hover .delete-button {
    display: flex;
}

.delete-button:hover {
  background: var(--accent);
  color: #4a4648;
}


.search-engine-selector {
  position: absolute;
  text-align: center;
right: 11%;
top: 45%;
  border: none;
  border-radius: 24px;
  background:#5c626200 ;
  color: var(--accent);
  margin: 0px;
  z-index: 1000;
  -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
}

.search-engine-selector::focus {
  border:none;
}


#suggestions {
        margin: 5px;
            max-height: 200px;
            overflow-y: auto;
            position: absolute;
        width: 320px;
            background-color: black;
            z-index: 1000;
            border-radius: 16px;
        }

        .suggestion-item {
            padding: 10px;
            cursor: pointer;
            color: var(--accent);
        }

        .suggestion-item:hover {
            background-color: #464646;
        }

 #file-input {
            display: none;
        }


.foot {
  background-color: #0f0c0c;
  padding: 10px;
  border-radius: 18px;
}
.foot > p{
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  margin: 10px;
  color: #d0cfcfe4;
}

.Link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 5px;
}
.Link > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--srcbar);
  border-radius: 45px;
  color: #e4e4e4;
  text-decoration: none;
  transition: 0.2s ease;
  padding: 10px;
  margin: 7px;
}
.Link > a:hover {
  color: var(--accent);
  transform: scale(0.9);
}
.tab {
  margin-top: 3rem;
  background-color: black;
            overflow-x: auto;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 5px;
           border-radius: 16px;
        }
        .tab button {
          background-color: transparent;
         width: 80px;
         margin: 8px;
            border: none;
            color: var(--accent);
            outline: none;
            cursor: pointer;
            padding: 12px;
            transition: 0.3s;
            border-radius: 28px;
      
        }
        .tab button:hover {
           background-color: var(--srcbar);
        }
        .tab button.active {
          background-color: var(--srcbar);
        }
        .tabcontent {
            display: none;
            padding: 6px 12px;
         
        }

.bg {
  background-color: black;
  border-radius: 16px;
}


@media screen and (min-width:992px) {
.search{
  display: flex;
  justify-content: center;
  align-items: center;
}
#suggestions {
  width: 600px;
  margin: 0 auto;
}
.search-engine-selector{
  position: relative;
  left: 10px;
  color: black;
  background: var(--accent);
  padding: 10px;
}

.search-bar {
   width: 610px;
   height: 82px;
   font-size: 25px;
   margin: 50px 0px 40px 0px;
   padding: 25px;
}

        .search.sticky .search-bar {
            width: 610px; /* New width */
            height: 56px; /* New height */
            border-radius: 16pc; /* New border radius */
        }
.bg {
 max-width: 70%;
 margin: 0 auto;
}
.tab {
  justify-content: center;
  gap: 5rem;
}

.weather{
  width: 120px;
  height: 90px;
position: absolute;
top: 118px;
right: 100px;
  margin: 0vh;
}

#temperature {
  font-size: 27px;
  padding-top: 5px;
  margin: 0;
}
#description{
  display: none;
}
#city-name{
  padding: 0;
  margin-right: 6px;
   margin-top:10px;
  font-size: 18px;
  font-weight: 600;
}

#weather-icon {
position: relative;
top: 40px;
right:20px;
 width: 40px;
 height: 40px;
}
.wrapper {
  flex-direction: row;
}
.icons {
 font-size: 38px;
gap: 3rem;
justify-content: center;
}
#timeElement {
  padding: 22px;
  border-radius: 20pc;
  font-size: 90px;
  position: absolute;
  top: 70px;
  background: #025f5f00;
  font-weight: 700;

}

.time {
  background: #5c626200;
  margin: 0px;
}

.time:hover{
  box-shadow: none;
  border: none;
}

#currentDay {
  position: absolute;
  top: 230px;
  left: 130px;
  font-size: 20px;
  font-weight: 600;
}


.container {
  max-width: 70%;
  font-size: 20px;
  border-radius: 22px;
  margin-top: 3vh;

}

.avatar{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 100px;
  top: 70px;
}
.hello {
  margin-top: 15rem;
  margin-bottom: 4rem;
  font-size: 32px;
  font-weight: 400;
}
.hello > button {
  font-weight: 400;
}

.city > button {
  background-color:#00000000;
  color: var(--accent);
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  height: 40px;
  border-radius: 32px;
  border: none;
}
#city-input {
  height: 40px;
  width: 240px;
  padding: 10px;
  font-size: 16px;
}

.settings {
margin:4rem;
}
.popup{
  margin: 0 auto;
  max-width: 50%;
}
}

@media only screen and (min-width: 768px) {
  
  .search-bar {
    width: 50%;
    height: 65px;
    font-size: 18px;
    margin-bottom: 3vh;
    margin-top: 3vh;
  }
  #suggestions {
    width: 400px;
    margin: 0 auto;
  }
  .search-engine-selector {
  position: relative;
  left: 10px;
  color: black;
  background: var(--accent);
  padding: 10px;
}
  
.weather {
  max-width: 60%;
}
  .setList {
    font-size: 18px;
  }
.bg {
 max-width: 80%;
 margin: 0 auto;
}
.popup{
  margin: 0 auto;
  max-width: 50%;
}

  .greet {
    margin-bottom: 15px;
  }
  .hello {
  font-size: 36px;
  }
  .icons {
    font-size: 28px;
    justify-content:center;
  }
  .container{
    max-width: 80%;
 border-radius: 20px;
  }
  .avatar{
    margin-top:3rem;
  }

.settings{
  font-size: 16px;
}
 
}

@media only screen and (min-width: 600px){
  .search-bar{
    width: 500px;
    font-size: 18px;
    height: 70px;
  }
  .hello {
    font-size: 38px;
    margin-bottom: 2vh;
  }
  .icons {
    font-size: 30px;
    margin: 2vh;
  }
  .weather {
    max-width: 80%;
    font-size: 30px;
  }
    .search-engine-selector {
  position: relative;
  left: 10px;
  color: black;
  background: var(--accent);
  padding: 10px;
}
}

@media and screen and (max-width: 600px){
  .search-bar{
    width: 300px ;
  }
}

